@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Yeseva+One');

html,body{
	font-family: Montserrat;
	width: 100%;
	height: 100%;
}
a {
	color: #fff;
	cursor:pointer;
	text-decoration: none;
}
h1,p{
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: manual;
	-ms-hyphens: manual;
	-moz-hyphens: manual;
	hyphens: manual;
}
h4{
	color: #fff;
}
.search{
	position: absolute;
}
.search>button{
	background-color: #f0f8ff00;
	border: 0;
}
.pesquisa{
	position: relative;
	top: 8px;
	color: #fff;
	font-weight: 500;
	cursor: pointer;
	background-color: #b1874a;
	padding: 10px;
	border-radius: 25px;
}
input[type=search] {
	width: 80%;
	margin-top: 8px;
	box-sizing: border-box;
	border: 2px solid #fff;
	border-radius: 29px;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0);
	background-position: 0; 
	background-repeat: no-repeat;
	padding: 10px 25px 10px 35px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

input[type=search]::placeholder{
	color: #fff;
	font-size: 14px;
	letter-spacing: 2px;
}

input[type=search]:focus {
	outline: none;
}

input:required:valid {
	border-left-color: palegreen;
}
input:invalid {
	border-left-color: salmon;
}
button.mfp-arrow, button.mfp-close{
	position: fixed;
}
.mfp-hide2 {
	display: none !important; 
}
#test-modal >h1>a {
	color: #fff;
	background-color: #b1874a;
	padding: 0 10px;
}
#test-modal >h1 {
	text-align: right;
	padding: 10px;
}
#test-modal >img {
	/* text-align: -webkit-center; */
	margin: auto;
}
/* INICIO NAVBAR */
.bg-dark {
    background-color: #b1874a!important;
}
.navbar-toggler{
	position: relative;
}
.navbar-toggler:focus,
.navbar-toggler:active {
	outline: 0;
}

.navbar-toggler span {
	display: block;
	background-color: #fff;
	height: 3px;
	width: 25px;
	margin-top: 4px;
	margin-bottom: 4px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	position: relative;
	left: 0;
	opacity: 1;
}
.navbar-toggler span:nth-child(2){
	width: 18px;
	transition: ease all .2s;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
	-webkit-transition: transform .35s ease-in-out;
	-moz-transition: transform .35s ease-in-out;
	-o-transition: transform .35s ease-in-out;
	transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
	position: absolute;
	left: 12px;
	top: 10px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	opacity: 0.9;
	margin-top: 6px;
	margin-bottom: 6px;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
	width: 25px;
	height: 12px;
	visibility: hidden;
	background-color: transparent;
	margin-top: 0.47rem;
	margin-bottom: 0.43rem;
	/* transition: ease all .2s; */
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
	position: absolute;
	left: 12px;
	top: 10px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	opacity: 0.9;
	margin-top: 6px;
	margin-bottom: 6px;
}
.navbar-toggler:hover > span:nth-child(2){
	width: 25px;
	/* transition: ease all .2s; */
}
.dropdown-toggle::after {
	color: #b1874a;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: .5em solid;
	border-right: .5em solid transparent;
	border-bottom: 0;
	border-left: .5em solid transparent;
}
.dropdown-item {
	font-size: 0.8rem;
	display: block;
	width: 100%;
	padding: 0.25rem 0.75rem 0 0;
	clear: both;
	font-weight: 400;
	color: #ffffff;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #b1874a;
}
/* FIM NAVBAR */

/* INICIO CAROUSEL */
.menu-topo {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}
.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
	font-size: 0.8rem;
}
.carousel-item1 {
	height: 100vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.carousel-caption-topo {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

.carousel-caption-topo h1{
	font-family: 'Yeseva One', cursive;
	color: #fff;
	font-weight: 800;
}
.carousel-caption h6{
	color: #f05a28;
	font-weight: 700;
	font-size: 0.8rem;
}
.carousel-caption-topo p{
	font-weight: 300;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	line-height: 2rem;
}
.carousel-control-next {
	top: 0;
	right: 50%;
	transform: translate(100%, -50%);
	width: 25px;
	height: 25px;
}

.carousel-control-prev {
	top: 0;
	left: 50%;
	transform: translate(-100%, -50%);
	width: 25px;
	height: 25px;
}
.carousel-caption a[href*="#destino"] span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 18px;
	height: 18px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb05 1.5s infinite;
	animation: sdb05 1.5s infinite;
	box-sizing: border-box;
}
.carousel-caption {
	bottom: 5%;
}
@-webkit-keyframes sdb05 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
@keyframes sdb05 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
.ver-mais{
	background-color: #161b33;
	padding: 15px 25px;
	font-size: 0.8rem;
	font-weight: 600;
	letter-spacing: 2px;
}
/* FIM CAROUSEL */

/* INICIO BUSCAR */
.buscar button{
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.buscar button:focus{
	outline: none;
}
/* FIM BUSCAR */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
	opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

.modal-content {
	position: relative;
	background-color: 0;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 0;
	border: 0;
	border-radius: 0;
	outline: 0;
	-webkit-box-shadow: 0;
	box-shadow: 0;
}
.vertical-menu {
	width: 250px;
	height: 200px;
	overflow: hidden;
	position: relative;
	left: 60px;
}
.vertical-container{
	margin-top: 100px;
}
.menu{
	z-index: 999;
	position: fixed;
	margin: 0 0 10px 0;
	padding: 0;
	background-color: #b1874a;
	width: 100%;
	display: none;
}
.menu > .container-fluid > .navbar > .navbar-header > span,.menu > .container-fluid > .navbar > .navbar-header > button {
	margin-top:30px;
}
.vertical-menu>p {
	line-height:2;
	position: absolute;
	top: -10px;
	color: #b1874a;
	font-weight: 900;
	font-size: 15px;
}
.vertical-menu>.p>a {
	color: #b1874a;
	font-weight: 900;
	font-size: 12px;
}
.up, .down {
	margin-top: 5px;
	color: #000;
	margin-left: 10px;
	cursor: pointer;
	display:block;
	background-color: #b1874a; 
	border: 0;
	font-size: 12px;
}
.up:hover, .down:hover {
	border: none;
}
.arrows{
	position: relative;
	left: 0;
	top: 169px;
	z-index: 1;
	bottom: 0;

}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

.select {
	background-color: #161b33;
}
.select-brown {
	background-color: #b1874a;
}
select:focus{
	outline: none;
}

select{
	padding: 5px 20px;
	max-width: 105%;
	height: 90%;
	color: #fff;
	font-size: 12px;
	background: rgba(0,0,0,0);
	border: 2px #fff solid;
	border-radius: 20px;
	letter-spacing: 4px;
	font-weight: 600;
	cursor: pointer;
}

select option {
	background: #161b33;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	letter-spacing: 2px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
}

.border-left{
	border-left: 6px solid #b1874a !important;
	padding: 13px 0;

}
.white{
	border-left: 6px solid #fff;
}
.border-left > p{

	letter-spacing: 3px;
	color: #fff;
	font-weight: 900;
	font-size: 17px;
	margin: 0 0 0 40px;
}
.select-right{
	padding: 13px 0 0 0;
}

.thumb {
	position:relative;
	overflow:hidden;
}

.caption {
	background:rgba(0, 0, 0, 0.73);
	display: none;
	color: #b1874a !important;
	z-index:2;
}

hr {
	margin-top: 0;
	margin-bottom: 5px;
	border: 0;
	border-top: 4px solid #b1874a;
	margin-left: 0;
}

.border-topo > p{
	color: #fff;
	font-weight: bold;
	margin: 0;
	text-align: left;
}
.select-right{
	padding: 13px 0 0 0;
}
.caption-titulo{
	margin: 6% 0 17% 0;

}
.caption-titulo>p{
	margin: 0;
	color: #b1874a;
	font-family: 'Yeseva One', cursive;
	font-size: 40px;
	text-align: left;
	line-height: 1.2;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.caption-rodape{
	margin: 50px 0;
}

.button-caption{
	border: 2px solid #b1874a;
	/* padding: 7px 20px; */
}
.a-caption{
	letter-spacing: 2px;
	font-size: 11px;
	font-weight: 700;
	color: #b1874a;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	padding: 5px 10px;
}
.links-viagens{
	margin: 70px 0 50px 0;
}
.links-viagens>ul>li>a{
	color: black;
	font-weight: 500;
}
.links-viagens>ul>li>a>p{
	border-left: 2px solid #b1874a;
	padding-left: 10px;
}
.links-vermais{
	padding: 12px 23px;
	background-color: #151B33;
	color: #fff;
	font-weight: 700;
}
.links-vermais:focus, .links-vermais:hover {
	color: #b1874a;
	background-color: #000;
}
.destaque > div > div > h1{
	color: #fff;
	font-size: 55px;
	font-weight: 500;
	font-family: 'Yeseva One', cursive; 
}
.destaque > div > div > a{
	padding: 7px 15px;
	background-color: #b1874a;
	color: #fff;
	font-size: 10px;
	font-weight: 600;
	letter-spacing: 2px;
}
.destaque > div > div > h5{
	padding: 10px 20px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 2px;
}
.categorias{
	letter-spacing: 5px;
	line-height: 1.8;
	font-size: 12px;
	color: #fff;
	font-weight: 700;
	text-align: right;
}
.middle {
	margin-top: 35px;
}
.owl-theme .owl-nav [class*='owl-'] {
	color: #FFF;
	background: #86979100;
	font-size: 0px;
	margin: 41px 12px;
	padding: 0;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	border: 3px solid #475780;
}
.icons-custom{
	color: #475780;
	font-size: 40px;
}
/* INICIO PREMIO */
#premio h1{
	color: #b1874a;
	font-size: 1.5rem;
	letter-spacing: 3px;
	font-weight: 800;
}

#premio p {
	color: #fff;
	font-size: 0.8rem;
}

/* INICIO NEWS LETTER */
#newsletter{
	background-image: url('') 
}
.newsletter>h1{
	color: #161b33;
	font-size: 2.5rem;
	font-weight: 600;
	font-family: 'Yeseva One', cursive;
}
.newsletter>div>p{
	color: #161b33;
	font-size: 13px;
	font-weight: 600;
}
.newslatter-label{
	font-size: 12px;
	display: block;
	letter-spacing: 3px;
	color: #161b33;
	font-weight: 900;
}
#newslatter-email{
	border: 2px solid #161b33;
	width: 300px;
	height: 51px;
	margin-right: 20px;
	background-color: rgba(0, 0, 0, 0);
}
#newslatter-submit {
	background: #161b33;
	color: #b1874a;
	letter-spacing: 3px;
	font-weight: 700;
	padding: 15px 30px;
	border: 0px;
}
.newsletter-form{
	margin-top: 30px;
}
.hr-vertical{ 
	/*margin: auto;*/
	border: none;
	border-left: 2px solid hsl(0, 0%,100%);
	height: 40vh;
	width: 2px;       
}
.collumn{
	-webkit-column-count:2;
	-moz-column-count:2;
	-ms-column-count:2;
	-o-column-count:2;
	column-count:2;
	-webkit-column-gap:15px;
	-moz-column-gap:15px;
	-ms-column-gap:15px;
	-o-column-gap:15px;
	column-gap:15px;
	columns:2;
}
.paises-lista{
	margin:0;
	padding:0;
}

.paises-lista>li{
	color: #fff;
	text-align: left;
	margin:  15px;
	display: inline-block;
	width: 100%;
}
.collumn2{
	-webkit-column-count:3;
	-moz-column-count:3;
	-ms-column-count:3;
	-o-column-count:3;
	column-count:3;
	-webkit-column-gap:15px;
	-moz-column-gap:15px;
	-ms-column-gap:15px;
	-o-column-gap:15px;
	column-gap:15px;
	columns:3;
}
.viagens-lista2{
	margin:0;
	padding:0;
}

.viagens-lista2>li{
	color: #fff;
	text-align: left;
	margin: 0 15px;
	display: inline-block;
	width: 100%;
}
.links-viagens>ul>li>a:hover {
	color: #b1874a;
}
ul.paises-lista>li:before { content:'\ffed'; margin-right:0.5em; }
.dicas>h1{
	color: #fff;
	font-size: 40px;
	font-weight: 900;
	font-family: 'Yeseva One', cursive; 
}
.paises-lista>li>a{
	color: #fff;
}
.dicas>hr {
	width: 125px;
	border-top: 4px solid #ffffff;
}
.paises-lista>li>a:focus, .paises-lista>li>a:hover ,a:focus, a:hover {
	color: #b1874a;
	text-decoration: none;
}

/* INCIO ARTIGO */
.artigo h1{
	color: #161b33;
	font-size: 1.5rem;
	font-weight: 700;
}
.artigo p{
	color: #7b7b7b;
	font-size: 0.8rem;
	font-weight: 700;
}
.artigo-vermais{
	background-color: #161b33;
	padding: 15px 25px;
	font-weight: 800;
	letter-spacing: 2px;
}
/* FIM ARTIGO */

/* INICIO ROTEIRO */
.roteiro-paragrafo{
	font-size: 0.8rem;
	letter-spacing: 1px;
	margin: 50px 0;
	line-height: 2.3;
	font-weight: 500;
	text-align: justify;
}

.roteiro-span{
	font-size:0.8rem;
	font-weight:700; 
}
.margem-padrao>div>p{
	margin: 20px;
	color: #fff;
	text-align: center;
}
.rodape-center{
	margin: auto;
}
.rodape-span{
	font-size:15px;
	font-weight:700;
	color: #fff;
}
/* FIM ROTEIRO */

/* INICIO PARCEIROS */
.parceiros .owl-nav{
	display: none;
}
.parceiros .owl-dots{
	margin-top: 25px;
}
.owl-theme .owl-dots .owl-dot span {
	width: 14px;
	height: 14px;
	margin: 5px 7px;
	background: transparent;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity .2s ease;
	border-radius: 30px;
	border: 1px solid #869791;
}

/* FIM PARCEIROS */

.form label.nao-aparece, .form input.nao-aparece {
	display: none !important;
}
.form>input, .form>textarea {
	color: #f3a93e;
	letter-spacing: 1px;
	padding: 12px 20px;
	border: 3px solid #b1874a;
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	margin-top: 0;
}
.form>input::placeholder, .form>textarea::placeholder {
	color: #b1874a;
	font-size: 0.8rem;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-right: 10px;
	font-weight: 700;
}
.form>textarea {
	height: 150px;
	width: 100%;
}
.form>button {
	border: 0;
	color: #161b33;
	font-size:15px;
	font-weight:700;
	background-color: #b1874a;
	width: 100%;
	height: 50px;
	cursor: pointer;
}
input:focus, textarea:focus, button:focus {
	outline: none;
}
#form-erro span, #form-send span  {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 10px;
	display: block;
	padding-left: 40px;
}

#form-send {
	color: #f37421;
}

#form-erro {
	color: #f64540;
}
.vilaca a{
	color: #b1874a;
	font-size: 0.8rem;
	font-weight: 600;
}
.vilaca img{
	width: 80px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
	width: 50px;
	height: 40px;
	margin-top: -10px;
	font-size: 30px;
}
.navbar-wrapper {
	margin-top: 52px;
	margin-left: 52px;
	margin-right: 52px;
}
.categoria>div>div>h1,.continente>div>div>h1{
	color: #fff;
	font-size: 3rem;
	font-family: 'Yeseva One', cursive;
}
.categoria>div>div>p{
	color: #fff;
	font-size: 14px;
	text-align: center;
	margin-bottom: 50px;
	letter-spacing: 2px;
	font-weight: 600;
}
.continente>div>div>p {
	color: #fff;
	font-size: 0.8rem;
	text-align: right;
	/* margin-bottom: 50px; */
	letter-spacing: 5px;
}
.categoria>div>div>select{
	color: #fff;
	font-size: 12px;
	letter-spacing: 5px;
	padding: 8px 30px;
	font-weight: 500;
}

.artigo>p>img{
	height: auto !important;
	width: 100% !important;
}
.artigo>p>img{
	height: auto !important;
	width: 100% !important;
}
/* FOOTER */
.map-responsive{
	overflow:hidden;
	padding-bottom:56.25%;
	/* position:relative; */
	height:0;
}
.map-responsive iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}
@media (max-width: 762px) {
	.navbar-nav {
		padding: 25px 0;
		background-color: #b1874a;
	}
	.menu > .container > .navbar > .navbar-header > span, .menu > .container > .navbar > .navbar-header > button {
		margin-top:15px;
	}
	.navbar-wrapper {
		margin-top: 12px;
		margin-left: 0;
		margin-right: 20px;
	}
	.categoria>div>div>h1, .continente>div>div>h1 {
		color: #fff;
		font-size: 2.5rem;
		font-family: 'Yeseva One', cursive;
	}
}
@media (max-width: 575px)  {


	.carousel-caption-topo p {
		line-height: 1.5rem;
	}
}
@media (min-width: 576px) and (max-width: 767px)  {

}

@media (min-width: 768px) and (max-width: 991px)  {

}
@media (min-width: 992px) {
	.height-100-hidden{
		height: 100vh;
		overflow: hidden;
	}
	.height-10 {
		height: 10vh;
	}
	.height-20 {
		height: 20vh;
	}
	.height-30 {
		height: 30vh;
	}
	.height-35 {
		height: 35vh;
	}
	.height-40 {
		height: 40vh;
	}
	.height-50 {
		height: 50vh;
	}
	.height-60 {
		height: 60vh;
	}
	.height-70 {
		height: 70vh;
	}
	.height-80 {
		height: 80vh;
	}
	.height-100 {
		height: 100vh;
	}
}
@media (max-width: 991.98px) {
	.height-100-hidden{
		height: 100vh;
		overflow: hidden;
	}
	.height-35-mobile {
		height: 80vh;
	}

	.height-50-mobile {
		height: 50vh;
	}

	.height-70-mobile {
		height: 70vh;
	}
	.height-80-mobile {
		height: 80vh;
	}
	.height-100-mobile {
		height: 100vh;
	}
	.height-120-mobile {
		height: 120vh;
	}

	.height-200-mobile {
		height: 200vh;
	}
	.dicas-textos{
		background-size: 95%;
	}
}