@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Yeseva+One');
a {
	color: #000;
	cursor:pointer;
	text-decoration: none;
}
h1,p{
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: manual;
	-ms-hyphens: manual;
	-moz-hyphens: manual;
	hyphens: manual;
}
/*input:invalid,
textarea:invalid {
  border-color: red !important;
}
input:required:valid { border: 2px solid green; }*/
input:optional {
	border-left-color: #999;
}
input:required:valid {
	border-left-color: palegreen;
}
input:invalid {
	border-left-color: salmon;
}
button.mfp-arrow, button.mfp-close{
	position: fixed;
}
.mfp-hide2 {
	display: none !important; 
}
#test-modal >h1>a {
	color: #fff;
	background-color: #b1874a;
	padding: 0 10px;
}
#test-modal >h1 {
	text-align: right;
	padding: 10px;
}
#test-modal >img {
	/* text-align: -webkit-center; */
	margin: auto;
}
/* 
button.mfp-close{ 
	background-color:#b1874a ;
	right: 5%;
	top: 40px;
} 
.mfp-close {
	position: fixed;
	opacity: 1;
	color: #fff;
	font-style: normal;
	font-size: 65px;
	font-family: Arial,Baskerville,monospace;
} 
*/
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
	opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

.modal-content {
	position: relative;
	background-color: 0;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 0;
	border: 0;
	border-radius: 0;
	outline: 0;
	-webkit-box-shadow: 0;
	box-shadow: 0;
}
.vertical-menu {
	width: 250px;
	height: 200px;
	/*background: #e3e3e3;*/
	overflow: hidden;
	position: relative;
}
.vertical-container{
	/*position: absolute;
	top: 350px;
	left: 150px;*/
	margin-top: 100px;
}
.menu{
	z-index: 999;
	position: fixed;
	margin: 0 0 10px 0;
	padding: 0;
	background-color: #b1874a;
	width: 100%;
	display: none;
}
.menu > .container-fluid > .navbar > .navbar-header > span,.menu > .container-fluid > .navbar > .navbar-header > button {
	margin-top:30px;
}
.vertical-menu>p {
	line-height:2;
	position: absolute;
	top: -10px;
	color: #b1874a;
	font-weight: 900;
	font-size: 15px;
}
.vertical-menu>.p>a {
	color: #b1874a;
	font-weight: 900;
	font-size: 12px;
}
.up, .down {
	margin-top: 5px;
	color: #000;
	margin-left: 10px;
	cursor: pointer;
	display:block;
	background-color: #b1874a; 
	border: 0;
	font-size: 12px;
}
.up:hover, .down:hover {
	border: 1px solid black;
}
.arrows{
	position: absolute;
	left: 40%;
	top: 120px;

}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.margem-padrao{
	margin: 4% 0 4% 0;
}
.navbar-default {
	background-color: #2220;
	border-color: #08080800;
}
.navbar-header {
	float: none;
}
.navbar-toggle {
	display: block;
}
.navbar-default .navbar-toggle {
	border-color: rgba(0,0,0,.0001);
}
.navbar-collapse {
	overflow-x: hidden;  
}
.navbar-collapse.collapse {
	display: none!important;

}
.navbar-nav {
	float: none!important;
}
.navbar-toggle{
	margin-right: 0px;
}
.navbar-menu-text {
	font-weight: bold; 
	color: #fff;
	position: relative;
	float: right;
	padding: 8px 0px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
}
.navbar-nav>li {
	float: none;
}
.navbar-collapse.collapse.in{
	display:block !important;
	overflow: hidden !important;
}

.navbar-toggle.x .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}

.navbar-toggle.x .icon-bar:nth-of-type(2) {
	opacity: 0;
	filter: alpha(opacity=0);
}

.navbar-toggle.x .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 21% 90%;
	-ms-transform-origin: 21% 90%;
	transform-origin: 21% 90%;
}

/* ANIMATED X COLLAPSED */
.navbar-toggle.x.collapsed .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #ddd0;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
	width: 30px;
	height: 3px;
}
.navbar-default .navbar-collapse {
	border-color: #ffffff00 !important;
}
.navbar-brand {
	width: 80%;
}
#navbar-collapse-x {
	z-index: 1000;
	position: absolute;
	background-color: #161b33e3;
	right: 19%;
	top: 25%;
	padding: 0 40px;
}
#navbar-collapse-x2 {
	z-index: 1000;
	position: fixed;
	background-color: #161b33e3;
	right: 19%;
	top: 25%;
	padding: 0 40px;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	text-align: right;
	letter-spacing: 2px;
	font-weight: 900;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #b1874a;
	text-transform: uppercase;
	font-size: 11px;
	text-align: right;
	letter-spacing: 2px;
	font-weight: 600;
}
.navbar-nav .open .dropdown-menu {
	position: static;
	float: none;
	width: auto;
	margin-top: 0;
	background-color: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.navbar-nav .open .dropdown-menu>li>a {
	line-height: 20px;
}
.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
	padding: 5px 15px 5px 25px;
}
.navbar-nav>.divider {
	height: 1px;
	overflow: hidden;
	background-color: #7d8bca;
	width: 200px;
}
.texto-carousel>h1{
	margin-top: 50%;
	color: #161b33;
	font-family: 'Yeseva One', cursive;
	font-size: 50px;
	font-weight: 900;
	text-align: left;
	line-height: 1;
}
.texto-carousel>p{
	text-align: justify;
	margin: 5% 0 9% 0;
	color: #7b7b7b;
	font-size: 14px;
	font-weight: 600;
	line-height: 2;
}
.texto-carousel-mobi>h1{
	margin-top: 50%;
	color: #fff;
	font-family: 'Yeseva One', cursive;
	font-size: 40px;
	font-weight: 900;
	text-align: left;
	line-height: 1;
}
.texto-carousel-mobi>p{
	text-align: justify;
	margin: 10% 0 9% 0;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	line-height: 2.5;
}
.texto-carousel>div>div>div>a,.texto-carousel-mobi>div>div>div>a{
	border: 0;
	color: #fff;
	font-size:15px;
	font-weight:700;
	background-color: #161b33;
	width: 100%;
	height: 50px;
	padding: 15px 20px;
}
.carousel-control{
	opacity: 1 !important;	
}
.carousel-control>img{
	background-color: #fff;
	padding: 9px;
	width: 40px;
}
.select {
	background-color: #161b33;
}
.select-brown {
	background-color: #b1874a;
}
select{
	padding: 5px 20px;
	max-width: 105%;
	height: 90%;
	color: #fff;
	font-size: 12px;
	background: rgba(0,0,0,0);
	border: 2px #fff solid;
	border-radius: 20px;
	letter-spacing: 4px;
	font-weight: 600;

}
select option {
	background: #161b33;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	letter-spacing: 2px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 600;
}

.border-left{
	border-left: 6px solid #b1874a;
	padding: 13px 0;

}
.white{
	border-left: 6px solid #fff;
}
.border-left > p{

	letter-spacing: 3px;
	color: #fff;
	font-weight: 900;
	font-size: 17px;
	margin: 0 0 0 40px;
}
.select-right{
	padding: 13px 0 0 0;
}

.thumb {
	position:relative;
	overflow:hidden;
}

.caption {
	position:absolute;
	top:0;
	right:0;
	background:rgba(0, 0, 0, 0.73);
	width:100%;
	height:100%;
	padding:2%;
	display: none;
	text-align:center;
	color: #b1874a !important;
	z-index:2;
}

hr {
	margin-top: 0;
	margin-bottom: 5px;
	border: 0;
	border-top: 4px solid #b1874a;
	margin-left: 0;
}

.border-top > p{
	color: #fff;
	font-weight: bold;
	margin: 0;
	text-align: left;
}
.select-right{
	padding: 13px 0 0 0;
}
.caption-titulo{
	margin: 6% 0 17% 0;

}
.caption-titulo>p{
	margin: 0;
	color: #b1874a;
	font-family: 'Yeseva One', cursive;
	font-size: 40px;
	text-align: left;
	line-height: 1;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.caption-rodape{
	margin: 50px 0;
}

.button-caption{
	border: 2px solid #b1874a;
	padding: 7px 20px;
}
.a-caption{
	letter-spacing: 2px;
	font-size: 11px;
	font-weight: 700;
	color: #b1874a;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.links-viagens{
	margin: 70px 0 50px 0;
}
.links-viagens>a{
	color: black;
}
.links-viagens>a>p{
	border-left: 2px solid #b1874a;
	padding-left: 10px;
}
.links-vermais{
	padding: 12px 23px;
	background-color: #151B33;
	color: #fff;
	font-weight: 700;
}
.links-vermais:focus, .links-vermais:hover {
	color: #b1874a;
	background-color: #000;
}
.destaque > div > div > h1{
	color: #fff;
	font-size: 55px;
	font-weight: 500;
	font-family: 'Yeseva One', cursive; 
}
.destaque > div > div > a{
	padding: 7px 15px;
	background-color: #b1874a;
	color: #fff;
	font-size: 10px;
	font-weight: 600;
	letter-spacing: 2px;

}
.destaque > div > div > h5{
	padding: 10px 20px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 2px;

}
.categorias{
	letter-spacing: 3px;
	line-height: 1.8;
	font-size: 12px;
	color: #fff;
	font-weight: 400;
	text-align: right;
}
.middle {
	margin-top: 35px;
}
.owl-theme .owl-nav [class*='owl-'] {
	color: #FFF;
	background: #86979100;
	font-size: 0px;
	margin: 41px 12px;
	padding: 0;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	border: 3px solid #475780;
}
.icons-custom{
	color: #475780;
	font-size: 40px;
}
#newsletter{
	background-image: url('') 
}
.newsletter>h1{
	color: #161b33;
	font-size: 45px;
	font-weight: 600;
	font-family: 'Yeseva One', cursive;
}
.newsletter>div>p{
	color: #161b33;
	font-size: 13px;
	font-weight: 600;
}
.newslatter-label{
	font-size: 12px;
	display: block;
	letter-spacing: 3px;
	color: #161b33;
	font-weight: 900;
}
#newslatter-email{
	border: 2px solid #161b33;
	width: 300px;
	height: 51px;
	margin-right: 20px;
	background-color: rgba(0, 0, 0, 0);
}
#newslatter-submit {
	background: #161b33;
	color: #b1874a;
	letter-spacing: 3px;
	font-weight: 700;
	padding: 15px 30px;
	border: 0px;
}
.newsletter-form{
	margin-top: 30px;
}
.hr-vertical{ 
	/*margin: auto;*/
	border: none;
	border-left: 2px solid hsl(0, 0%,100%);
	height: 40vh;
	width: 2px;       
}
.collumn{
	-webkit-column-count:2;
	-moz-column-count:2;
	-ms-column-count:2;
	-o-column-count:2;
	column-count:2;
	-webkit-column-gap:15px;
	-moz-column-gap:15px;
	-ms-column-gap:15px;
	-o-column-gap:15px;
	column-gap:15px;
	columns:2;
}
.paises-lista{
	margin:0;
	padding:0;
}

.paises-lista>li{
	color: #fff;
	text-align: left;
	margin:  15px;
	display: inline-block;
	width: 100%;
}
ul.paises-lista>li:before { content:'\ffed'; margin-right:0.5em; }
.dicas>h1{
	color: #fff;
	font-size: 40px;
	font-weight: 900;
	font-family: 'Yeseva One', cursive; 
}
.paises-lista>li>a{
	color: #fff;
}
.dicas>hr {
	width: 125px;
	border-top: 4px solid #ffffff;
}
.paises-lista>li>a:focus, .paises-lista>li>a:hover ,a:focus, a:hover {
	color: #b1874a;
	text-decoration: none;
}
.roteiro-paragrafo{
	letter-spacing: 1px;
	margin: 50px 0;
	line-height: 2.3;
	font-weight: 500;
	text-align: justify;
}

.roteiro-span{
	font-size:15px;
	font-weight:900; 
	margin-right:40px;
}
.margem-padrao>div>p{
	margin: 20px;
	color: #fff;
	text-align: center;
}
.rodape-center{
	margin: auto;
}
.rodape-span{
	font-size:15px;
	font-weight:700;
	color: #fff;
}
.form label.nao-aparece, .form input.nao-aparece {
	display: none !important;
}
.form>div>input, .form>div>textarea {
	color: #f3a93e;
	letter-spacing: 1px;
	padding: 12px 20px;
	border: 3px solid #b1874a;
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	margin-top: 0;
}
.form>div>input::placeholder, .form>div>textarea::placeholder {
	color: #b1874a;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-right: 10px;
	font-weight: 700;
}
.form>div>textarea {
	height: 200px;
	margin-top: 25px;
	width: 100%;
}
.form>div>div>button {
	border: 0;
	color: #161b33;
	font-size:15px;
	font-weight:700;
	background-color: #b1874a;
	width: 90%;
	height: 50px;
	margin-top: 20px;
}
#form-erro span, #form-send span  {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 10px;
	display: block;
	padding-left: 40px;
}

#form-send {
	color: #f37421;
}

#form-erro {
	color: #f64540;
}
.vilaca{
	color: #b1874a;
	font-size: 11px;
	font-weight: 600;
}
.vilaca>img{
	width: 80px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
	width: 50px;
	height: 40px;
	margin-top: -10px;
	font-size: 30px;
}
.navbar-wrapper {
	margin-top: 52px;
	margin-left: 52px;
	margin-right: 52px;
}
.news{
	height: 370px;
}
.categoria>div>div>h1,.continente>div>div>h1{
	color: #fff;
	font-size: 60px;
	font-family: 'Yeseva One', cursive;
}
.categoria>div>div>p{
	color: #fff;
	font-size: 14px;
	text-align: center;
	margin-bottom: 50px;
	letter-spacing: 2px;
	font-weight: 600;
}
.continente>div>div>p{
	color: #fff;
	font-size: 14px;
	text-align: right;
	margin-bottom: 50px;
	letter-spacing: 5px;
}
.categoria>div>div>select{
	color: #fff;
	font-size: 12px;
	letter-spacing: 5px;
	padding: 8px 30px;
	font-weight: 500;
}
@media (max-width: 762px) {
	.menu > .container > .navbar > .navbar-header > span, .menu > .container > .navbar > .navbar-header > button {
		margin-top:15px;
	}
	.navbar-wrapper {
		margin-top: 12px;
		margin-left: 0;
		margin-right: 20px;
	}
	.categoria>div>div>h1, .continente>div>div>h1 {
		color: #fff;
		font-size: 3em;
		font-family: 'Yeseva One', cursive;
	}
}
@media (max-width: 575px)  {
	.thumb{
		min-height:250px;
	}
	.roteiro-span{ 
		margin:20px 0;
	}
	.roteiro-img{ 
		margin:20px 0 0 0;
	}
	#navbar-collapse-x {
		right: 21%;
		top: 25%;
	}
	.menu > div > nav > #navbar-collapse-x {
		right: 21%;
		top: 31%;
	}
	.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
		width: 50px;
		height: 40px;
		margin-top: 65px;
		font-size: 30px;
	}
	.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
		right: 50%;
		margin-right: -93px;
	}
	.caption-titulo>p{

		font-size: 25px;
	}
	.menu > div > nav > #navbar-collapse-x {
		right: 20%;
		top: 47%;
	}
	.menu > .container-fluid > .navbar > .navbar-header > span, .menu > .container-fluid > .navbar > .navbar-header > button {
		margin-top: 13px;
	}

}
@media (min-width: 576px) and (max-width: 767px)  {
	.thumb{
		min-height:350px;
	}
	.caption-titulo {
		margin: 70px 0;
	}
	.menu > div > nav > #navbar-collapse-x {
		right: 16%;
		top: 47%;
	}


}

@media (min-width: 768px) and (max-width: 991px)  {
	.thumb{
		min-height:250px;
	}
	.caption-titulo>p{

		font-size: 20px;
	}
	.caption-titulo {
		margin: 60px 0;
	}
	#navbar-collapse-x {
		right: 15%;
		top: 25%;
	}
	.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
		margin-right: -8px;
	}
}
@media (min-width: 576px) and (max-width: 991px)  {
	.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
		width: 50px;
		height: 40px;
		margin-top: 0px;
		font-size: 30px;
	}
	/* .caption-titulo>p{

		font-size: 40px;

		} */
	}

	@media (min-width: 992px) and (max-width: 1329px){
		.thumb{
			min-height:300px;
		}
		.caption-titulo {
			margin: 60px 0;
		}
		#navbar-collapse-x {
			right: 21%;
			top: 25%;
		}
		.menu > div > nav > #navbar-collapse-x {
			right: 13%;
			top: 47%;
		}
		.caption-titulo>p{
			margin: 0;
			color: #b1874a;
			font-family: 'Yeseva One', cursive;
			font-size: 30px;
			text-align: left;
			line-height: 1;
			display: block;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	@media (min-width: 1330px) {
		.menu > .container-fluid > .navbar > .navbar-header > span{
			margin-right: 4%;
		}
		.thumb{
			min-height:350px;
		}
		.caption-titulo {
			margin: 60px 0;
		}
	/* .caption-titulo {
		margin: 15% 0 20% 0;
		} */

		#navbar-collapse-x {
			right: 10%;
			top: 25%;
		}
		.menu > div > nav > #navbar-collapse-x {
			right: 12%;
			top: 47%;
		}
	} 
	.topo-padding{
		padding: 100px 0;
	}

	@media screen and (min-width: 991px){
		.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
			margin-right: -49px;
		}
		.topo-padding{
			padding: 250px 0 150px 0;
		}
	}
